<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moh.org.zm.smarthealthcommunity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AppointmentActivity" android:label="Add Appointment">

        </activity>
        <activity android:name=".activity.ClientRecordActivity" android:label="Client Record">

        </activity>
        <activity android:name=".activity.HIVTestingActivity" android:label="Hiv Testing">

        </activity>
        <activity android:name=".activity.HomeActivity" android:label="Home">

        </activity>
        <activity android:name=".activity.LoginActivity" android:label="Log In">

        </activity>
        <activity android:name=".activity.PatientRegistrationActivity" android:label="Add Patient">
        </activity>
        <activity android:name=".activity.StableOnCareActivity" android:label="Stable On Care">

        </activity>
        <activity android:name=".activity.stableoncare.ReferralActivity" android:label="Referral">


        </activity>
        <activity android:name=".activity.stableoncare.DispensationActivity" android:label="Dispense Drugs">

</activity>
        <activity android:name=".activity.stableoncare.PhysicalExamActivity" android:label="Physical Exam">

        </activity>
        <activity android:name=".activity.SearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>